<section class="abautusSection">
        <div class="container">
            <div class="row">
                
                <div class="col-md-12 col-12 mx-auto">
                       <h2 class="text-center my-5">Some fine words abaut us </h2>
                    <div class="row">
                     
                        
                        <div class="col-md-10 col-12 mx-auto">
                            <h5>Dear students, today whatever I am? this is because all of your love and support,
                                you people made me famous, today each student of class 10th Maharashtra 
                                Board they know me, and it is only because of you people. Today I am very happy, 
                                that my channel has more subscribers and I am reaching to all the needy students
                                 those who cannot afford classes, those who do not have money for the tuitions, 
                                such students are watching and learning from home. One day one panipuriwala called
                                me and said I do not have money for the tuition class for my son but because of you,
                                he is learning and scoring good marks.
                            </h5>

                            <p>Thank you very much for your support and love Keep watching and keep learning.
                                My aim is very clear that
                            </p>
                            <div class="flex">
                                <h4>YouTube Channel – Jagruti computers</h4>
                                <a href="https://youtu.be/rrFoqWNoLe0"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
