<section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                        <div class="col-md-4 col-12 mx-auto">
                            <div class="">
                                <h3>Quick Links</h3>
                                <ul class="menu">
                                    <li><a href="#">home</a></li>
                                    <li><a href="#">abaut us</a></li>
                                    <li><a href="#">contact</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-12 mx-auto">
                            <h3>Subscribe to our news letter</h3>
                            <form action="#">
                                <div class="form-group">
                                    <input placeholder="Enter your email" type="text" class="form-control" name="email">
                                </div>
                                <button class="btn btn-danger">Subscribe</button>
                            </form>
                        </div>
                        <div class="col-md-4 col-12 mx-auto">
                            <h3>contact us</h3>

                            <h5>Adress : </h5>
                            <p>India</p>
                            <p>Jagruti computer and coaching classes, men road sangrampur Dist. Buldhana</p>
                            <h6> <i class="fas fas-Quick Links"></i> Email : rahulmarode@gmail.com</h6>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>