 <nav class='greedy-nav ' id="myHeader">
      <button><div class="hamburger"></div></button>
        <ul class='visible-links'>
          <li><a href="Jagruti coaching"></a></li>
          <li><a href='/'>Home</a></li>
          <li><a href='/abaut'>abaut</a></li>
          <li><a href='/register'>Register</a></li>
          <li><a href='/logout'>log out</a></li>
          <li><a href='/login'>log in</a></li>
          <li><a href='/tenth'>videos</a></li>
          <li><a href='/uconstruction'>10th mathmatics</a></li>
          <li><a href='/uconstruction'>9th mathmatics</a></li>
        </ul>
        <ul class='hidden-links hidden'></ul>
      </nav>
    

