<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>nav}}

    <section class="blogSection">
        <h3 class="text-center">Get all the lettest news here</h3>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-md-10 col-12 mx-auto">
                            <div class="box">
                                <div class="date">
                                    <h4>2 octomber 2020</h4> 
                                    {{boger}}
                                </div>
                                <div class="ownerblog">
                                    <h5>{{blog}}</h5>
                                </div>
                                <h5>
                                    सफलता के लिए सबसे ज्यादा जरूरी होता है हमारे मन में उस वस्तु को पाने की इच्छा,
                                     और उस इच्छा को पूर्ण करने के लिए कार्य करने की तैयारी| लोग सपने बहुत देखते हैं,
                                      हर दिन एक नया सपना देखते हैं, हर दिन एक नई चीज को पाने की चाह रखते हैं,
                                      लेकिन मेहनत करना कोई नहीं चाहता | जो मेहनत करना चाहते हैं रास्ते उन्हीं के लिए
                                       खुले होते हैं, सफलता उनके पीछे भागते हुए आती है क्योंकि उनका नजरिया अपने 
                                       कार्य के प्रति बहुत अलग होता है |
                                    सफल होने वाले लोग अपने कार्यों को एक उचित क्रम में लगाकर रखते हैं, वे अच्छे से
                                     जानते हैं कि उन्हें आज क्या करना है और कल क्या करना है, मैं यह कहना चाहता हूं 
                                     कि वह अपने काम को क्रम से करते हैं, हर चीज एक उत्कृष्ट प्लानिंग से करते हैं ,
                                      चलिए मैं आपको एक कहानी बताता हूं
                                    यह कहानी है दो दोस्तों की, जो एक साथ पढ़ते थे, एक का नाम था राज और दूसरा
                                     जॉन, राज और जॉन दोनों अपने जीवन में सफल होना चाहते थे, ऊंचाइयों पर पहुंचना
                                      चाहते थे, राज हर दिन सपने देखता, लेकिन अगले दिन, उन सपनों को भूल जाता 
                                      और अगले दिन, एक नई दिन के साथ और एक नया सपना देखता, जबकि जॉन इसके
                                       बिल्कुल विपरीत स्वभाव वाला था | जॉन बड़े सपने देखता और उन सपनों को पूरा करने
                                        के लिए हमेशा सोचता और उन पर काम करता | समय बीतता गया, स्कूल के दिन 
                                        पूरे हुए, और उन्होंने अलग-अलग कॉलेजों में एडमिशन लिया, इससे वे अब एक-दूसरे 
                                        से दूर हो चुके थे | राज धीरे-धीरे आलसी होता, अब वो सपने भी नहीं देखता क्योंकि
                                         उसे लगता कि वह जीवन में कुछ नहीं कर सकता है | वह न तो मेहनत करता, ना 
                                         ही सपने देखता, धीरे धीरे कॉलेज का समय भी पूरा हुआ, राज के व्यवहार के कारण
                                          राज ने कोई बहुत अच्छा रिजल्ट नहीं बनाया था, जिसके कारण उसे एक छोटे से
                                           ऑफिस में बहुत कम सैलरी पर काम करने लगा | समय बीता जा रहा था, राज 
                                           कई बार जॉन के बारे में सोचता, मेरा दोस्त कैसा होगा? वह कहां होगा? क्या वो
                                            मुझे भूल गया? और बहुत सारी बातें उसके मन में हर दिन आती……
                                    जॉन और राज जिस स्कूल में साथ में पढ़ते थे, उस स्कूल में अपने सभी पूर्व विद्यार्थियों को,
                                     एक कार्यक्रम में निमंत्रित किया | लेकिन इस पर दो तरह के निमंत्रण थे, जो विद्यार्थी अपने 
                                     जीवन में सफलता की ऊंचाई पर प

                                </h5>
                            </div>
                        </div>

                        
                        <div class="col-md-10 col-12 mx-auto">
                            <div class="box">
                                <div class="date">
                                    <h4>3 octomber 2020</h4> 
                                </div>

                                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi molestiae autem distinctio modi dolores voluptate asperiores repellat unde totam, quo eligendi voluptatum, dolore sequi enim labore accusamus, expedita impedit assumenda.
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus, inventore quaerat veritatis commodi saepe voluptate modi officiis culpa est explicabo. Dolores incidunt molestiae beatae aspernatur numquam autem nobis doloribus fugiat?
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et cumque dignissimos praesentium repudiandae tempora cupiditate deleniti maiores dolor ut at libero, dicta ea aspernatur mollitia officiis ipsa molestias consectetur non.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, doloremque saepe? Modi tenetur dolorum quaerat nostrum ducimus, ipsum ipsam, error magni ab aspernatur, numquam cumque voluptas architecto dolorem? Magni, soluta.
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur adipisci ducimus fugiat magnam incidunt distinctio dicta veniam totam repellat placeat quo libero facilis minus tenetur dolorem, alias, nihil ratione iure                          
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et cumque dignissimos praesentium repudiandae tempora cupiditate deleniti maiores dolor ut at libero, dicta ea aspernatur mollitia officiis ipsa molestias consectetur non.
                                    
                                </h5>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    {{>footer}}


    
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script src="js/main.js"></script>

</body>
</html>