<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>

    {{>nav}}

    <section class="classSection">
        <h5 class="blue">Select the course wich you want</h5>
        <div class="container">
            
            <div class="row">
                
                <div class="col-md-10 col-10 mx-auto">                
                    
                        <div class="box">
                            <h3>10th class facilities </h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam dignissimos architecto quasi non, dolore quaerat.
                             In quibusdam incidunt iure soluta repudiandae amet laborum fugit, dolorem nam sunt. Molestiae, exercitationem impedit.
                             Our acadomy provides online vedeo throw wich you can understand the topics in esy way and better.
                             our acadomy provides the videos of mathamatics by Rahul Marode sir, phisics , chimistry , English and Grammer notes 
                            </p>

                            <h3>What we offer</h3>
                            <h4>Online vedeos / Testsrise / commpetative exams notes / Traditional classes</h4>
                            <ul class="flex">
                                <li>mathamatics</li>
                                <li>physics</li>
                                <li>biology</li>
                                <li>English</li>
                                <li>Grammer</li>
                                <li>Testsrise</li>
                            </ul>
                                
                           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, <a href="/tenth" class="btn btn-primary">Start learning</a></p> 
                        </div>
                       
                    
                    
                    <!--end -->
                    
                       
                    
                   
                        <div class="box">
                            <h3>10th class facilities </h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam dignissimos architecto quasi non, dolore quaerat.
                             In quibusdam incidunt iure soluta repudiandae amet laborum fugit, dolorem nam sunt. Molestiae, exercitationem impedit.
                             Our acadomy provides online vedeo throw wich you can understand the topics in esy way and better.
                             our acadomy provides the videos of mathamatics by Rahul Marode sir, phisics , chimistry , English and Grammer notes 
                            </p>

                            <h3>What we offer</h3>
                            <h4>Online vedeos / Testsrise / commpetative exams notes / Traditional classes</h4>
                            <ul>
                                <li>mathamatics</li>
                                <li>physics</li>
                                <li>biology</li>
                                <li>English</li>
                                <li>Grammer</li>
                                <li>Testsrise</li>
                            </ul>
                       
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, <a href="/tenth" class="btn btn-primary">Start learning</a></p> 
                        </div>
                    <!--end -->
                     
                        <div class="box">
                            <h3>10th class facilities </h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam dignissimos architecto quasi non, dolore quaerat.
                             In quibusdam incidunt iure soluta repudiandae amet laborum fugit, dolorem nam sunt. Molestiae, exercitationem impedit.
                             Our acadomy provides online vedeo throw wich you can understand the topics in esy way and better.
                             our acadomy provides the videos of mathamatics by Rahul Marode sir, phisics , chimistry , English and Grammer notes 
                            </p>

                            <h3>What we offer</h3>
                            <h4>Online vedeos / Testsrise / commpetative exams notes / Traditional classes</h4>
                            <ul>
                                <li>mathamatics</li>
                                <li>physics</li>
                                <li>biology</li>
                                <li>English</li>
                                <li>Grammer</li>
                                <li>Testsrise</li>
                            </ul>
                       
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, <a href="/tenth" class="btn btn-primary">Start learning</a></p> 
                        </div>
               
                    <!--end -->
                    
                   
                        <div class="box">
                            <h3>10th class facilities </h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam dignissimos architecto quasi non, dolore quaerat.
                             In quibusdam incidunt iure soluta repudiandae amet laborum fugit, dolorem nam sunt. Molestiae, exercitationem impedit.
                             Our acadomy provides online vedeo throw wich you can understand the topics in esy way and better.
                             our acadomy provides the videos of mathamatics by Rahul Marode sir, phisics , chimistry , English and Grammer notes 
                            </p>

                            <h3>What we offer</h3>
                            <h4>Online vedeos / Testsrise / commpetative exams notes / Traditional classes</h4>
                            <ul>
                                <li>mathamatics</li>
                                <li>physics</li>
                                <li>biology</li>
                                <li>English</li>
                                <li>Grammer</li>
                                <li>Testsrise</li>
                            </ul>
                       
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, <a href="/tenth" class="btn btn-primary">Start learning</a></p> 
                        
                        </div>
                    <!--end -->
                    
                        <div class="box">
                            <h3>10th class facilities </h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam dignissimos architecto quasi non, dolore quaerat.
                             In quibusdam incidunt iure soluta repudiandae amet laborum fugit, dolorem nam sunt. Molestiae, exercitationem impedit.
                             Our acadomy provides online vedeo throw wich you can understand the topics in esy way and better.
                             our acadomy provides the videos of mathamatics by Rahul Marode sir, phisics , chimistry , English and Grammer notes 
                            </p>

                            <h3>What we offer</h3>
                            <h4>Online vedeos / Testsrise / commpetative exams notes / Traditional classes</h4>
                            <ul>
                                <li>mathamatics</li>
                                <li>physics</li>
                                <li>biology</li>
                                <li>English</li>
                                <li>Grammer</li>
                                <li>Testsrise</li>
                            </ul>
                       
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, <a href="/tenth" class="btn btn-primary">Start learning</a></p> 

                           
                        </div>
      
                    <!--end -->
                
                    
                        <div class="box">
                            <h3>10th class facilities </h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam dignissimos architecto quasi non, dolore quaerat.
                             In quibusdam incidunt iure soluta repudiandae amet laborum fugit, dolorem nam sunt. Molestiae, exercitationem impedit.
                             Our acadomy provides online vedeo throw wich you can understand the topics in esy way and better.
                             our acadomy provides the videos of mathamatics by Rahul Marode sir, phisics , chimistry , English and Grammer notes 
                            </p>

                            <h3>What we offer</h3>
                            <h4>Online vedeos / Testsrise / commpetative exams notes / Traditional classes</h4>
                            <ul>
                                <li>mathamatics</li>
                                <li>physics</li>
                                <li>biology</li>
                                <li>English</li>
                                <li>Grammer</li>
                                <li>Testsrise</li>
                            </ul>
                       
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, <a href="/tenth" class="btn btn-primary">Start learning</a></p> 
                        </div>
                   
                    <!--end -->
                    
                </div>
            </div>
        </div>
        <button class="btn btn-primary" id="top">top</button>

    </section>
  
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script src="js/main.js"></script>

</body>
</html>