<!DOCTYPE html>
<html lang="en">
<head>
    
    {{>header}}
   
    <style>
        .ball {
            position: absolute;
            border-radius: 100%;
            opacity: 0.7;
            }
    </style>


 
        {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> --}}
 
</head>
<body>
    <section class="headerSection .ball"> 

         <!-- navigation section srarts here -->

  {{!-- <section class="navigation">
      <nav class="navbar navbar-expand-lg navbar-light header" id="myHeader">
          <a class="navbar-brand" href="/"><img src="images/logo6.png" class="img-fluid ab-logo"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="/">HOME </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">ABAUT US</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#contact">CONTACT</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#srvices">SRVICES</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">BLOGS</a>
              </li>
  
              
              </ul>
              
          </div>
      </nav>
  </section>  --}}

    {{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Jagruti Coaching</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Abaut</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">10th mathamati</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> --}}

   {{!-- <nav class='greedy-nav ' id="myHeader">
      <button><div class="hamburger"></div></button>
        <ul class='visible-links'>
          <li><a href="Jagruti coaching"></a></li>
          <li><a href='/'>Home</a></li>
          <li><a href='/abaut'>abaut</a></li>
          <li><a href='/register'>Register</a></li>
          <li><a href='/login'>log in</a></li>
          <li><a href='/tenth'>videos</a></li>
          <li><a href='/uconstruction'>10th mathmatics</a></li>
          <li><a href='/uconstruction'>9th mathmatics</a></li>
        </ul>
        <ul class='hidden-links hidden'></ul>
      </nav> --}}

      {{>nav}}
    






         <!-- navigation section ends here  -->



                   
    
    

   
                     <!-- banner section starts here   -->

                <div class="mx-auto banner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 my-5 col-12  box">
                                <h3>Jagruti Comouter and 
                                 coaching Classes</h3>
                                <h5>Do the best as you can with Jagruti <br> Comouter 
                                    and coaching Classes 
                                </h5>
                               
                                <h2>lerning platform</h2>
                                
                                <button class="slide_from_left my-btn-one"><a href="/register">signing up </a> </button>
                                <button class="slide_from_left my-btn-one"><a href="/login">log in</a></button>
                                                          
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
    </section>

    

    <!-- header section ends here   -->

    <!--  our courses section starts here -->
{{corousel}}
    <section class="coursesSection">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12 mx-auto">
                    <div class="row">
                        <div class="col-md-4">
                          <h3 class="text-center">Jagruti Coaching</h3>
                            <a href="uconstruction">
                            <div class="box">
                              <h3>Regarding paper and notes</h3>
                            
                                
                                <h6 class="text-center">jagruti coaching is form 5th Standerd to 
                                    10th standered with all facilitis
                                </h6>                               
                            </div>
                            </a>
                            
                        </div>
                        <div class="col-md-4">
                               <h3 class="text-center">MKCl</h3>
                            <a href="#">
                             <div class="box">
                               <h3>Regarding paper and notes</h3> 
                                <h6 class="text-center">Jagruti coaching offere you computer
                                    classes with all facilities
                                </h6>
                                    
                            </div>
                            </a>
                           
                        </div>
                        <div class="col-md-4">
                           <h3 class="text-center">Typing</h3>
                            <div class="box">
                              <h3>Regarding paper and notes</h3>
                               
                                <h6 class="text-center">Jagruti coaching offere you typing
                                    classes with all facilities
                                </h6>
                                

                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  our courses section ends here -->
    <!-- abaut us  section starts here   -->
    {{>abaut}}



    <!-- abaut us  section ends here   -->

    <section class="tenthSection">
        <div class="container">
            <div class="row">
               
                <div class="col-md-6 col-12 my-5 mx-auto">
                    <h4>Download the tests <a class="btn btn-primary" href="test/myResume.pdf">Download link</a></h4>
                    
                </div>
            </div>
            <div class="row">
                 <div class="col-md-12 col-12 mx-auto">
                    <h3 class=" py-5">10th video explanations</h3>

                    <div class="row">
                        <div class="col-md-6 mx-auto">
                            <iframe width="400" height="250" src="https://www.youtube.com/embed/rrFoqWNoLe0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-6 mx-auto">
                            <iframe width="400" height="250" src="https://www.youtube.com/embed/rrFoqWNoLe0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-6 mx-auto">
                            <iframe width="400" height="250" src="https://www.youtube.com/embed/rrFoqWNoLe0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-6 mx-auto">
                            <iframe width="400" height="250" src="https://www.youtube.com/embed/rrFoqWNoLe0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        
                    </div>
            
                </div>

               
            

            </div>
        </div>
        
    </section>

    <!-- footer section starts here   -->
    {{>footer}}
    <!-- footer section ends here   -->

    

      <!-- JavaScript Only-->
     
        <script>
          

        

          /*@@@@ sticky header @@@*/

          // When the user scrolls the page, execute myFunction

            window.onscroll = function() {myFunction()};

            // Get the header
            var header = document.getElementById("myHeader");

            // Get the offset position of the navbar
            var sticky = header.offsetTop;

            // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
            function myFunction() {
              /*if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
              } else {
                header.classList.remove("sticky");
              }*/

               if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
              header.classList.add("sticky");
              header.style.backgroundColor = "#01B5F0" ;
            

              } else {
                header.classList.remove("sticky");
                header.style.backgroundColor = "";
               
              }


            }

          
        </script>

       
    <script>
        // Some random colors
const colors = ["#3CC157", "#2AA7FF", "#1B1B1B", "#FCBC0F", "#F85F36"];

const numBalls = 50;
const balls = [];

for (let i = 0; i < numBalls; i++) {
  let ball = document.createElement("div");
  ball.classList.add("ball");
  ball.style.background = colors[Math.floor(Math.random() * colors.length)];
  ball.style.left = `${Math.floor(Math.random() * 100)}vw`;
  ball.style.top = `${Math.floor(Math.random() * 100)}vh`;
  ball.style.transform = `scale(${Math.random()})`;
  ball.style.width = `${Math.random()}em`;
  ball.style.height = ball.style.width;
  
  balls.push(ball);
  document.body.append(ball);
}

// Keyframes
balls.forEach((el, i, ra) => {
  let to = {
    x: Math.random() * (i % 2 === 0 ? -11 : 11),
    y: Math.random() * 12
  };

  let anim = el.animate(
    [
      { transform: "translate(0, 0)" },
      { transform: `translate(${to.x}rem, ${to.y}rem)` }
    ],
    {
      duration: (Math.random() + 1) * 2000, // random duration
      direction: "alternate",
      fill: "both",
      iterations: Infinity,
      easing: "ease-in-out"
    }
  );
});
    </script>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="js/main.js"></script>

        <script>
          $(".nav li").hover(function () {
            $(this).children("ul").stop().delay(200).animate({height: "toggle", opacity: "toggle"}, 200);
          });
        </script>

</body>
</html>