<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>nav}}

    <section class="tenthSection">
        <div class="container">
            <div class="row">
               
                <div class="col-md-6 col-12 my-5 mx-auto">
                    <h4>Download the tests <a class="btn btn-primary" href="test/myResume.pdf">Download link</a></h4>
                    
                </div>
            </div>
            <div class="row">
                 <div class="col-md-12 col-12 mx-auto">
                    <h3 class=" py-5">10th video explanations</h3>

                    <div class="row">
                        <div class="col-md-6 mx-auto">
                            <iframe width="400" height="250" src="https://www.youtube.com/embed/rrFoqWNoLe0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-6 mx-auto">
                            <iframe width="400" height="250" src="https://www.youtube.com/embed/rrFoqWNoLe0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-6 mx-auto">
                            <iframe width="400" height="250" src="https://www.youtube.com/embed/rrFoqWNoLe0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-6 mx-auto">
                            <iframe width="400" height="250" src="https://www.youtube.com/embed/rrFoqWNoLe0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-6 mx-auto">
                            <iframe width="400" height="250" src="https://www.youtube.com/embed/rrFoqWNoLe0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-6 mx-auto">
                            <iframe width="400" height="250" src="https://www.youtube.com/embed/rrFoqWNoLe0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
            
                </div>

               
                <button class="btn btn-primary" id="top"><i class="fas fa-arrow-up"></i></button>

            </div>
        </div>
        <script src="js/main.js"></script>
    </section>
</body>
</html>