<!DOCTYPE html>
<html lang="en">
<head>
  {{>header}}
</head>
<body>

    {{>nav}}

    <section class="headerSection">
         <div class="container">
        <div class="row">
            <div class="col-12 ">

                <div class="row">
                    <div class="col-md-6 col-12 mx-auto box">
                        <h2 class="text-center py-2">This page is under construction</h2>

                <h5 class="my-1">Very soon you will get all the notes and notifications abaut this page</h5>

                <h4 class="my-5">If you have the notes pliase  contact with us and send it </h4>

                         <a class="btn btn-primary" href="https://www.messenger.com/t/106036091453126/?messaging_source=source%3Apages%3Apage_plugin_message">Send on Facefook</a>

                    </div>
                    <div class="col-md-6 col-12 mx-auto mt-2">
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FSushant-Technology-106036091453126&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=488648708798261" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>
                </div>
                
                

            </div>

            {{!-- <div class="col">
                <div class="row">
                    <div class="col-12 mx-auto">
                         <a class="btn btn-primary" href="https://www.messenger.com/t/106036091453126/?messaging_source=source%3Apages%3Apage_plugin_message">Send on Facefook</a>
                    </div>
                </div>
            </div> --}}
        </div>
    </div>


    </section>

   
    {{>footer}}

     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script src="js/main.js"></script>

</body>
</html>