<!DOCTYPE html>
<html lang="en">
<head>
  {{>header}}
</head>
<body>
    {{>nav}}

    <section class="userSection">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-12">
             <h3>my profile</h3>
              <h2>my name is {{name}}</h2>

              <h3>your email id is</h3>
              <h5>{{email}}</h5>


              <h2>your massage to us <h1>This is the sms {{sms}}</h1></h2>

              
          </div>
        </div>
      </div>
       
    </section>
</body>
</html>